@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para una mejor PWA */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none; /* Evita el "pull-to-refresh" */
}

